<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pagetitle}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul style="color:red;">
                {% for msg in messages %}
                    <li>{{ msg }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h1>Register</h1>
    <form method="POST" action="/register">
        <input name="username" placeholder="Username"><br> <!--username-->
        <input name="email" type="email" placeholder="Email"><br> <!--email-->
        <input name="password" type="password" placeholder="Password"> <!--passwrod-->
        <button type="submit">Create Account</button>
    </form>

    <p>
        Already Have An Account?
        <a href="/login">Login</a>
    </p>
    
</body>
</html>