<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pagetitle}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Users</h1>

    <div>
        <form method="get">
            <input name="q" placeholder="Search">
            <button type="submit">Search</button>
            <a href="{{url_for('dashboard')}}">Back</a>
        </form>
    </div>


    <div class="pagination">
        {% if page > 1 %}
          <a href="{{ url_for('users', page=page-1, q=query) }}">Previous</a>
        {% endif %}
      
        {% if page < total_pages %}
          <a href="{{ url_for('users', page=page+1, q=query) }}">Next</a>
        {% endif %}
    </div>

    <ul>
        {% for user in users %}
            <li>
               ID: {{ user[0]}} __
               Username: {{ user[1]}} __
               Email: {{ user[2]}} __
                Created At: {{ user[4]}}
            </li>
        {% endfor%}    
    </ul>
    
</body>
</html>